<p>
  <strong>Welcome:</strong>
  <%= @user.username %>
</p>


<p>
  <strong>So far you have:</strong>
  <%= (@user.destinations.count * 50) %> wanderpoints
</p>


<h2>These are the destinations you have traveled to so far:</h2>
    <p> 
    <% @user.destinations.each do |destination| %>
        <%= link_to destination.location, destination_path(destination) %><br>
    <% end %>
    </p>



<%= link_to "Add Destination", new_user_destination_path(@user) %><br>
<%= link_to "User Home Page", user_path(@user) %><br>