<p>
  <strong>Welcome:</strong>
  <%= @user.username %>
</p>


<p>
  <strong>So far you have:</strong>
  <%= @user.current_wanderpoints %> wanderpoints
</p>


<h2>These are the destinations you have traveled to so far:</h2>
    <p> 
    <% @destinations.each do |destination| %>
        <%= link_to destination.location, user_destination_path(@user, destination) %><br>
    <% end %>
    </p>

    <h3>Need ideas for your next vacation? Check out where everyone else is going:</h3>
    <% User.other_destinations(current_user).each do |destination| %>
      <%= destination %><br>
      <% end %>

<br>
<%= link_to "Add Destination", new_user_destination_path(@user) %><br>
<%= link_to "Edit Account", edit_user_path(@user) %><br>