<%= form_with(model: @destination, url: [current_user,@destination], local: true) do |form| %>
    <% if @destination.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@destination.errors.count, "error") %> prohibited this destination from being saved:</h2>
  
        <ul>
        <% @destination.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :location %>
      <%= form.text_field :location %>
    </div>
    <br>

    <%= form.fields_for :experiences do |exp| %>
      <h2> Add an experience: </h2>
      <%= exp.label :activity %>
      <%= exp.text_field :activity %><br>
      <%= exp.hidden_field :user_id, :value => current_user.id %>
    <% end %>


    <br>
    <div class="actions">
      <%= form.submit%>
    </div>
  <% end %>