
    <h1>Destination: <%= @destination.location %></h1>
    <p>Created by: <%= current_user.username %></p>

    <h2>Your <%= @destination.location %> experiences: </h2>
    <ul>
    <% @destination.experiences.each do |experience| %>
        <li><%= link_to experience.activity, edit_user_destination_experience_path(current_user, @destination, experience) %></li>
    <% end %>
    </ul>

    <h3>What other users are doing when they go to <%=@destination.location%>:</h3>
        <% Experience.other_experiences(current_user, @destination.location).each do |location| %>
            <%= location %><br>
        <% end %>

    <br>

    <%= link_to "Add your experience at this location", new_user_destination_experience_path(current_user, @destination) %><br>
    <%= link_to "Back to your home page", user_path(current_user) %><br>
    <%= link_to "Edit Destination", edit_user_destination_path(current_user,@destination) %><br>