
    <h1>Destination: <%= @destination.location %></h1>
    <p>Created by: <%= @destination.user.username %></p>

    <p>What people are doing in <%=@destination.location%>:</p>

    <%= link_to "Back to your home page", user_path(@destination.user) %><br>
    <%= link_to "Edit Destination", edit_destination_path(@destination) %><br>