<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolioProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if session[:user_id] != nil %>
    <%= link_to "Log Out", signout_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", signin_path %><br>
      <%= link_to "Sign up", new_user_path %><br>
    <% end %>


  </body>
</html>
